
.signInButton {
  font-size: 200;
  background-color:rgb(78, 174, 206);
  color: white;
  width: 200px;
  margin:10px;
}

.signInButton:hover{
  background-color: rgb(36, 209, 17);
}

.title {
  background-color: rgb(231, 131, 69);
  color:white;
}

.bookButton{
  background-color:red;
  color:white;
}