
.signInButton {
  font-size: 200;
  background-color:rgb(78, 174, 206);
  color: white;
  width: 200px;
  margin:10px;
}

.signInButton:hover{
  background-color: rgb(130, 205, 230);
}

.title {
  background-color: rgb(96, 180, 223);
  color:white;
}

.bookButton{
  background-color:red;
  color:white;
}